.center-ideal-content{
    max-width: 600px;
    margin: 0 auto;
}
.blog-01-heading{
    margin-top: 80px;
    margin-bottom: 80px;
}
.blog-01-img-caption{
    margin-top: 30px;
    margin-bottom: 40px;
}