/***************************** TYPOGRAPHY *******************************************/
html {font-size: 1em;}

body {
    background-color: white;
    font-family: 'Lora', serif;
    font-weight: 400;
    line-height: 1.45;
    color: #333;
    position: relative;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
}

h1 {
    margin-top: 0;
    font-size: 3.998em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}
/***************************** TYPOGRAPHY FINISHED *******************************************/
.common{
    position: relative;
    display: block;
    overflow: hidden;
}
.vh-100{
    height: 100vh;
}
.full-bg{
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-position{
    background-position: center;
}

.vertical-middle{
    display: block;
    top: 50%!important;
    position: relative;
    transform: translateY(-50%);
}
.btn-theme{
    background-color: transparent;
    border-radius: 0px;
    border-color: #333;
}
.overlay:before{
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;

}
.z-1{
    z-index: 10;
}
.z-2{
    z-index: 20;
}
.text-white{
    color: #fff;
}
.btn-white{
    border-color: #fff;
}
.card-text{
    background-color: #f7f7f7;
    display: block;
    overflow: hidden;
}
.hover-effect{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.6);
    transform: scale(0);
    transition: all 300ms ease-in-out;
}
.position-relative{
    position: relative;
}
.compress-15{
    padding: 0px 15px;
}
.sm-image-card:hover .hover-effect{
    transform: scale(1);
}
.icons ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
}
.icons ul>li{
    display: inline-block;
    float: left;
}
.icons ul>li>a{
    display: block;
    font-size: 21px;
    color: #333;
}
.icons li>a>i{
    margin-right: 5px;
}
.price-tag{
    margin-bottom: 0;
}
.latest-img{
   position: relative;
}
.logo-price{
   position: absolute;
    top: 10px;
    right: 20px;
    background-color: #5e5e5e;

}
.full-card-img{
    position: relative;
    overflow: hidden;
    display: block;
}
.full-card-text{
    position: absolute;
    left: 35%;
    top: -30px;
}
.full-card-img:hover .hover-effect{
    transform: scale(1);
}
.d-table{
    display: table;
    width:100%;
}
.d-cell{
    display: table-cell;
    vertical-align: middle;
    float: none;
}
.media-img{
    max-width:150px;
}
.product-media{
    padding: 50px 0;
}
.d-body{
    padding-left: 10px;
    padding-right: 10px;
}
.side-nav{
    }
.side-nav ul{
    list-style: none;
    display: block;
}
.side-nav ul>li{
    display:block;
}
.side-nav ul>li>a{
    display: block;
    padding:15px;
}
.w-300 img{
    max-width: 300px;
}
.card-landscape{
    background-color: rgba(255,255,255,.5);
    padding: 50px 20px;
}
.card-landscape .m-t{
    margin-top: 30px;
}
.landscape-card-text{
    padding: 0 15px;
}
.left-nav{
    vertical-align: top;
    background-color: rgba(255,255,255,.5);

}
.last-product{
    padding: 90px 0;
}
.colored-bg-1{
    background-color: #FFDDB6;
}
.colored-bg-2{
    background-color: #9d9d9d;
}
.colored-bg-3{
    background-color: #bce8f1;
}
.a-icon{
    font-size: 48px;
}
.right-negative-15{
    margin-right: -15px;
}
.left-negative-15{
    margin-left: -15px;
}
.newton{
    margin-top:30px;
}
.sale-img{
    height: 300px;
    text-align: center;
}
.nav-left-bar{
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    width: 250px;
    height: 100vh;
    right:0;
    top:0;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
    overflow-y:scroll;
}
.nav-left-bar ul{
    list-style: none;
    margin:0;
    padding: 0;
    display: block;
}
.nav-left-bar ul li{
    display: block;
}

.nav-left-bar ul>li>a{
    padding: 15px 25px;
    display: block;
    color: #fff;
    border-bottom: 1px solid #f6f6f6;
    font-family: 'Lora', serif;
    font-size: 18px;
    letter-spacing: 1px;
}
.nav-left-bar ul>li>a:focus,
.nav-left-bar ul>li>a:hover{
    text-decoration: none;
}
.header-top{
    display: block;
    min-height: 50px;
    background-color: #fff;
    border-bottom: 1px solid #f6f6f6;
    overflow: hidden;
}
.logo{
    display: inline-block;
    float: left;
}

.right-header{
    float: right;
    display: inline-block;
}
.theme-logo,.btn-theme-nav-slide{
    padding: 10px;
    border: 1px solid #222222;
    line-height: 28px;
    display: block;
    width: 48px;
    text-align: center;
    font-size: 21px;
}
.nav-collapsed{
    transform: translateX(0);
}
.theme-dropdown ul{
    padding-left: 15px;
    display: none;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    background-color: rgba(255,255,255,0.5);
}
.open ul{
    display: block;
}
.close-btn{
    overflow: hidden;
    background-color: rgba(255,255,255,0.8);
}
.btn-close-menu{
    width: 46px;
    height: 46px;
    display: block;
    border: 1px solid #fff;
    line-height: 44px;
    text-align: center;
    color: #fff;
    font-size: 21px;
    float: right;
    margin: 10px;
}
.icon-dir{
    display: inline-block;
    float: right;
    transition: all 0.57s ease-in-out;
}
.open>a>.icon-dir{
    transform: rotate(90deg);
}
.b-g-p-img{
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
}
.b-g-p-text {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    transform: scale(0);
    transition: all 450ms ease-in-out;
    transform-origin: left top;
}
.center-alignment{
    position: relative;
    top:50%;
    transform: translateY(-50%);
}
.b-g-p-img:hover .b-g-p-text{
    transform: scale(1);
}
.fixed-top{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    transition: all 450ms ease-in-out;
    z-index: 15;
    transform: translateY(0);
}
.join-us{
    position: relative;
}
.position-absulute{
    position: absolute;
    height:100%;
    text-align: center;
}
.join-us-content{
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}
.btn-click{
    border: 1px solid #9d9d9d;
    color: #000;
    background-color: rgba(255,255,255,.6);
    padding: 7px 15px;
    margin-top: 30px;
    display: inline-block;
}