/***************************** TYPOGRAPHY *******************************************/
html {font-size: 1em;}

body {
    background-color: white;
    font-family: 'Lora', serif;
    font-weight: 400;
    line-height: 1.45;
    color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
}

h1 {
    margin-top: 0;
    font-size: 3.998em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}
/***************************** TYPOGRAPHY FINISHED *******************************************/
.common{
    position: relative;
    display: block;
    overflow: hidden;
}
.vh-100{
    height: 100vh;
}
.full-bg{
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-position{
    background-position: center;
}

.vertical-middle{
    display: block;
    top: 50%!important;
    position: relative;
    transform: translateY(-50%);
}
.btn-theme{
    background-color: transparent;
    border-radius: 0px;
    border-color: #333;
}
.overlay:before{
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;

}
.z-1{
    z-index: 10;
}
.z-2{
    z-index: 20;
}
.text-white{
    color: #fff;
}
.btn-white{
    border-color: #fff;
}
.card-text{
    background-color: #f7f7f7;
    display: block;
    overflow: hidden;
}
.hover-effect{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.6);
    transform: scale(0);
    transition: all 300ms ease-in-out;
}
.position-relative{
    position: relative;
}
.sm-image-card:hover .hover-effect{
    transform: scale(1);
}
.icons ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
}
.icons ul>li{
    display: inline-block;
    float: left;
}
.icons ul>li>a{
    display: block;
    font-size: 21px;
    color: #333;
}
.icons li>a>i{
    margin-right: 5px;
}
.price-tag{
    margin-bottom: 0;
}